@import "tailwindcss";

body{
  margin:0;
  padding:0;
  background-color: rgb(40, 39, 39);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.scrollStyle{
  scrollbar-width: 0;
  scroll-behavior: smooth;
}
.scrollStyle::-webkit-scrollbar{
  width:0;
}
.scrollStyle::-webkit-scrollbar-thumb{
  width: 0;
}
.scrollStyle::-webkit-scrollbar-track{
  width:0;
}